body {
  background-color: #36393f;
  color: #ffffff;
}

header {
  background-color: #5865f2;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  color: #ffffff;
}

section {
  margin: 10px;
  display: inline;

}

#photos, #coding-projects, #graphic-design, #artwork {
  background-color: #4f545c;
  padding: 20px;
  margin-top: 10px;
  color: #ffffff;
  border-radius: 10px;
  display: block; /* added this line */
  position: relative;
}

#photos img, #coding-projects img, #graphic-design img, #artwork img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#photos h2, #coding-projects h2, #graphic-design h2, #artwork h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style links */
a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  transition: opacity 0.3s ease;
  display: block;
}

@media (min-width: 768px) {
  a {
    display: inline;
  }
}

a:hover {
  background-color: #36393f;
  border-radius: 10px;
  padding: 10px;
}

footer {
  background-color: #4f545c;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} 

* {
  box-sizing: border-box;
}

.boxleft {
  float: left;
  width: 50%;
  padding: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}
.boxright {
  float: left;
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

p {
  font-size: 18px;
  color: white;
  line-height: 1.6;
}

